@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url("../images/bg-photo.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.container{
    padding: 1% 8%;
}

a{
    text-decoration: none;
}


h1{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    font-size: 2.8rem;
    padding-top: 5%;
    padding-bottom: 1%;
}

h3{
    color: rgb(133, 133, 133);
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    letter-spacing: 2.5px;
}

p{
    color: rgb(187, 187, 187);
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder; 
    letter-spacing: 2.5px;
    padding: 0;
    margin: 0;
}

span{
    color: yellow;
}

.c-span{
    color:#4477a3;
    letter-spacing: 1px ;
}

.cc-span{
    text-decoration: none;
    color: #60b0f4;
}

.love{
    font-size: 2rem;
    color: red;
}
.bx-copyright:before {
    content: "\ece9";
    color: #858585;
}
*, ::after, ::before {
    box-sizing: border-box;
    color: #858585;
}

.btn{
    max-width: 2000px;
    height: 45px;
    color: white;
    padding: 0 15px;
    background-color: transparent;
    border-radius: 45px;
    font-weight: bold;
    line-height: normal;
    margin: 0px auto -80px;
}

.btn:hover{
    border: 1px solid #60b0f4;
}

.navbar-brand{
    width: 200px;
}

.navbar-light .navbar-nav .nav-link.active{
    color: rgb(228, 220, 220);
    padding: 8px 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
}

.navbar-light .navbar-nav .nav-link.active:hover{
    color: rgb(255, 255, 255);
    background: #153552;
    border-radius: 12px;
    border-bottom: 3px solid #60b0f4;
}

span.navbar-toggler-icon{
    background-color: #60b0f4;
}

span.navbar-toggler-icon:hover{
    background-color: #60b0f4;
}

.row{
    border-left: thick double #60b0f4;
    animation: transtitionIn 1.5s ease-in;
}


@keyframes transtitionIn {
    from{
        border-left: 0;
        border-right: 0;
    }
    to{
        border-left: 100%;
        border-right: 100%;
    }
}

.header-img{
    width: 75%;
    border-radius: 50%;
    border: 40px solid rgb(179, 179, 179);
}

.contact-img{
    width: 75%;
    border-radius: 50%;
    border: 40px solid rgb(179, 179, 179);
    margin-top: 50px;
    border-radius: 50%;
    border: 40px solid rgb(179, 179, 179);
}

.left-col{
    margin: 17% 0 0%;
}

.right{
    padding-left: 10%;
    align-items: center;
}

footer{
    background-color: rgb(63, 115, 160);
    margin-top: 8%;
    padding: 30px 0;
    text-align: center;
    border-bottom-left-radius: 250px;
    border-top-right-radius: 250px;
    border-right: thick double #60b0f4;
    animation: transtitionIn 1.5s ease-in;
    border-left: thick double #60b0f4;
}


.social-links{
    padding: 0 5% 0 5%;
}

.bxl-facebook:before {
    content: "\e926";
}

*, ::after, ::before {
    box-sizing: border-box;
    color: #ffffff;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.social-links a{
    font-size: 3rem;
    padding: 0 5%;
    color: white;
}

.social-links a:hover{
    background-color: rgb(61, 111, 155);
    border-radius: 100px;
    box-shadow: 0px 0px 5px red;

}

.copy{
    text-align: center;
    padding: 100px 0 15px;
    margin-bottom: 10px;
    border-right: thick double #60b0f4;
    animation: transtitionIn 1.5s ease-in;
}

.contact-form {
    border-radius: 12px;
    padding: 50px 50px 100px;
    background-color: #151515;
    font-size: 18px;
    position: relative;
    box-shadow: 0 40px 50px -55px #f4ea60;
}

.contact-form input{
    display: block;
    width: 100%;
    border-radius: 12px;
    border: none;
    height: 40px;
    padding: 15px;
    background: #213b52;
    color: white;
    transition: 0.5s;
}

.contact-left-col{
    margin: 8% 0 0%;
}

.contact-right{
    display: flex;
    justify-content: center;
    text-align: center;
}


.contact-form input:focus{
    outline: none;
    box-shadow: 0 10px 30px -20px #7e8181;
    filter: contrast(85%);
}

.contact-form input.subscribe{
    margin-top: 60px;
}

.contact-form label{
    color: white;
    font-weight: bolder;
    display: inline-block;
    margin-bottom: 15px;
}

.label:after {
    content:" *";
    color: red;
  }

.contact-form .subscribe{
    max-width: 150px;
    height: 45px;
    padding: 0;
    background-color: transparent;
    border: 1px solid #60b0f4;
    border-radius: 45px;
    font-weight: bold;
    line-height: normal;
    margin: 0px auto -80px;
}

.contact-form .subscribe:hover{
    color: black;
    background-color: #60b0f4;
}


/* MEDIA FOR MOBILES */

@media only screen and (max-width: 486px) {
    H1 {
      font-size: 2rem;
    }
    .navbar-brand{
        width: 150px;
    }
    .container{
        padding: 0;
    }
    .social-links a{
        font-size: 1.75rem;
    }
    footer{
        margin-top: 50px;
    }
    .copy{
        padding: 50px 0 15px;
    }
  }

  /* MEDIA FOR tablets */

  @media only screen and (max-width: 768px) {
    footer {
        margin-top: 100px;
    }
    .right{
        margin: 50px auto 0 ;
    }
    .contact-img{
        width: 100%;
        margin-top: 50px;
        border-radius: 50%;
        border: 40px solid rgb(179, 179, 179);
    }
  }

